*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --accent-color: #2196f3;
    --white-text-color: #ffffff;
  }  
li {
    list-style-type: none; /* Убираем маркеры */
  }
a {
    text-decoration: none; /* Убираем подчёркивание */
  }
body {
    width: 1600px;
    background-color: #ffffff;
    font-family: "Oleo Script", cursive;
    font-family: "Raleway", sans-serif;
    font-family: "Roboto", sans-serif;
  }
.header {
    width: 1600px;
    height: 80px;
}
/* WebStudio */
.logo{
    width: 145px;
    height: 31px;
    left: 215px;
    top: 24px;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;
    /* identical to box height */
    letter-spacing: 0.03em;
    color: #2196F3;
}
.logo-studio{
    color: #000;
}
.logo:hover,
.logo:active,
.logo:focus {
    color: var(--accent-color);
}
/* Навигация */

.nav-list-link-active{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #2196F3;
}
.nav-list-link{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color:  #212121;
}

/* Контакты */

.contacts-list-link {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #757575;
}
.contacts-list-link:hover,
.contacts-list-link:active,
.contacts-list-link:focus {
    color: var(--accent-color);
}
.nav-list-link:hover,
.nav-list-link:active,
.nav-list-link:focus {
    color: var(--accent-color);
}
/* Эффективные решения для вашего бизнеса */

.hero-section{
    width: 1600px;
    height: 200px;
    left: 0px;
    top: 80px;
    background: #2F303A;
}
.hero-title{
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    /* or 136% */
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--white-text-color);
}
button {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
    /* identical to box height, or 187% */
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--white-text-color);
}
.hero-button{
    width: 200px;
    height: 50px;
    left: 700px;
    top: 430px;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

/* Наши особенности */

.feature-title{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-text-color);
}
.feature-text{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
}
/* Чем мы занимаемся */

.what-we-do-title{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}
/* Наша команда */

.our-team-title{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}
/* team */

.person-title{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}
.person-text{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
}
/* Address */

.footer-list{
    width: 1600px;
    height: 252px;
    left: 0px;
    top: 2097px;
    background: #2F303A;
}
.address{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */
    letter-spacing: 0.03em;
    color: var(--white-text-color);
}
.contacts{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}
.contacts:hover,
.contacts:active,
.contacts:focus {
    color: var(--accent-color);
}